.forecast {
    color: #000000;
    box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
    backdrop-filter: blur(8px);
    -webkit-backdrop-filter: blur( 8px );
    border-radius: 10px;
    border: 1px solid rgba(255, 255, 255, 0.18);
    background: rgba(194, 194, 194, 0.3);
    border-radius: 15px;
    height: 150px;
    width: 80px;
    margin: 5px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    font-size: 14px;
    padding: 10px 10px;
    cursor: context-menu;
}

.icon-small {
    width: 60px;
}

.day {
    cursor: inherit;
    color: #212121;
    flex: 1 1;
    font-weight: 600;
    display: flex;
    align-items: center;
    justify-content: center;
}

.description {
    cursor: inherit;
    flex: 1 1;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.min-max {
    color: #252525;
    display: flex;
    align-items: center;
    justify-content: center;
}

.forecasts {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    margin-top: 50px;
    margin-bottom: 50px;
    transition: all ease 1s;
}
